.newsArticleWrapper.card {
    margin: 1rem;
    padding: 1rem;
}

#pageContentWrapper .newsArticleWrapper .card-header h1#pageTitle {
    font-size: 4rem;
    margin: 0 0 2rem 0;
    padding: 0;
}

.newsArticleWrapper .standardContent .card-body h2.articleCaption {
    margin: 2rem 0;
}

.newsArticleWrapper .standardContent .card-body p {
    line-height: 1.5;
    margin: 0;
}

.newsArticleWrapper .standardContent .card-body p.credits {
    font-weight: 500;
}

.newsArticleWrapper .standardContent .card-body .publishDetails {
    margin: 1rem 0;
}

.newsArticleWrapper .standardContent .card-body p.externalLink a {
    color: #088099;
    font-weight: 500;
    text-decoration: none;
}

.newsArticleWrapper .standardContent .card-body p.externalLink a:hover {
    text-decoration: underline;
}


/* @media screen and (max-width: 767.999px) {
    #pageContentWrapper .newsArticleWrapper .card-header h1#pageTitle {
        padding: 1rem 0 0 0;
    }
} */