.newsArticleWrapper .card-header h1#pageTitle {
    font-size: 4rem;
    margin: 0 0 2rem 0;
    padding: 0;
}

.newsArticleWrapper .standardContent .card-body h2.articleCaption {
    margin: 2rem 0;
}

.newsArticleWrapper .standardContent .card-body p {
    line-height: 1.5;
    margin: 0;
}

.newsArticleWrapper .standardContent .card-body p.externalLink {
    margin-top: 1rem;
}

.newsArticleWrapper .standardContent .card-body p.publishDate {
    margin-bottom: 1rem;
}

.newsArticleWrapper .standardContent .card-body p.externalLink a {
    color: #088099;
    text-decoration: none;
}

.newsArticleWrapper .standardContent .card-body p.externalLink a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767.999px) {
    .newsArticleWrapper .card-header h1#pageTitle {
        padding-top: 2rem;
    }
}