.newsItemWrapper .externalLink a {
    color: #088099;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
}

.newsItemWrapper .externalLink a:hover {
    text-decoration: underline;
}

.newsItemWrapper .standardContent img.card-img {
    padding: 0;
}

@media screen and (max-width: 991.99px) {
    .articleSummary.card-body {
        padding-top: 1rem;
    }
}